.image-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 150px 0; */
}

.image-container h1 {
  margin-top: 2rem;
}

.image-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 32px;
}

.image-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 2px;
}

.image-item:nth-child(5) {
  grid-column-end: span 2;
}

.image-item:nth-child(8) {
  grid-row-start: 4;
  grid-column-end: span 2;
}

.image-item:nth-child(15) {
  grid-column-end: span 2;
}

.image-item:nth-child(22) {
  grid-column-end: span 2;
}

.image-item:nth-child(33) {
  grid-column-end: span 2;
}

.image-item:nth-child(42) {
  grid-column-end: span 2;
}

.image-grid img:hover {
  transform: scale(1.1);
  transition: 0.6s all ease !important;
  cursor: pointer;
}

.book-btn {
  margin-top: 4rem;
}

/* Modal */
.modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-wrapper {
  max-width: 960px;
  background: #fff;
  position: relative;
}

.modal-image {
  width: 100%;
  height: 100%;
}
